@(titleName: String, titleClass: String)

<div id="actions">
    <ul class="menu">
        <li><a href="/search" class="menuAction redB">Search</a></li>
        <li><a href="/movie" class="menuAction violetB">Add Movies</a></li>
        <li><a href="/movies" class="menuAction blueB">My Movies</a></li>
        <li><a href="/series" class="menuAction yellowB">My Series</a></li>
        <li><a href="/imovies" class="menuAction redB">My IMovies</a></li>
        <li><a class="title @titleClass">@titleName</a></li>
    </ul>
</div>