@(titleName: String, titleClass: String)

<div id="actions">
    <ul class="menu">
        <li><a href="/search" class="menuAction bg-red">Search</a></li>
        <li><a href="/movie" class="menuAction bg-purple">Add</a></li>
        <li><a href="/movies" class="menuAction bg-blue">My Movies</a></li>
        <li><a href="/series" class="menuAction bg-yellow">My Series</a></li>
        <li><a href="/imovies" class="menuAction bg-red">My IMovies</a></li>
        <li><a class="title @titleClass">@titleName</a></li>
    </ul>
</div>