@()

@main("Search", "red") {
    @jsimport("subtitleTable.js")
    @jsimport("search.js")

    <div id="search2">
        <a id="randomTermLink">Random term</a>
        <div class="form-wrapper cf">
            <input type="text" id="imdbSearchInput" placeholder="Search here..." required="">
            <button type="submit" onclick="doSearch()" class="bg-red">Search</button>
        </div>
    </div>

    <div id="results" class="standardTableDiv"></div>
    <div id="subtitles" class="standardTableDiv"></div>
}
